<!DOCTYPE html>

<html>
    <head>
    <title>PDPrognosis</title>
    <!-- <script src="..\js\LoginST.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\static\Style.css"> 
    </head>
    <body>
        <div class="side-bar">
            <a href="/"><img src="static/PDPrognosis.jpeg" style="width: 100%;"></a>
            <h1 style="text-align: center;"> PDPrognosis </h1> 
            <br><br><hr><br><br>
            <ol>
                <li><a href="/Patients">Patients</a></li><br>
                <li><a href="">Profile</a></li><br><br>
                <li id="logout" style="color: darkred;"><a href="">Logout</a></li>
            </ol>
        </div>

        <!-- <div class="p-list">
            <h2> Patients List</h3>
            <br><br>
            <div class="contain">
                <p> Name:  </p>
                
                <button class="v-btn">view</button><br>
            </div>
            <br>
            <div class="contain">
                <p> Name:  </p>
                
                <button class="v-btn">view</button><br>
            </div>
            <br>
            <div class="contain">
                <p> Name:  </p>
                
                <button class="v-btn">view</button><br>
            </div>
            <br>
            <div class="contain">
                <p> Name:  </p>
                
                <button class="v-btn">view</button>
            </div>
        </div>

        <div id="p-info">
            <h3>Name</h3>
            <p>Score </p>
            <br><hr><br>

            <select name="pro-pep">
                <option value="Proteins">Proteins</option>
                <option value="Peptides">Peptides</option>
            </select>
            <br><br>

            <div>
                <h3>History</h3>

            <table>
                <tr>
                    <td>Date</td>
                    <td>Result</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            </div>
            

        </div> -->
  

    </body>
</html>